
body p {
    font-size: 18px;
}
.page-container {
    background-color: hsl(210, 100%, 14%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.price-point {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.border-div {
    margin: 25px;
}

img {
    width: 200px;
    height: 200px;
}
