body {
    display: flex;
    text-align: center;
    background-color: hsl(241, 90%, 12%);
}


body p {
    font-size: 18px;
}
.page-container {
    display: flex-box;
    justify-content: center;
    text-align: left;
    background-color: hsl(241, 91%, 18%);
    padding: 5%;
    border-radius: 55px;
    margin: 20%;
    box-shadow: 0px 0px 75px rgb(227, 60, 60)
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.price-point {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.border-div {
    display: flex-box;
    padding: 20px;

}

img {
    display: inline-flexbox;
    border-radius: 45px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 15px peachpuff
}
#equilibrium {
    margin-top: 20px;
    display: inline-flexbox;
    color: rgb(227, 60, 60);
    font-family: 'Luxurious Roman', cursive;
    font-size: 45px;
    text-align: center;

}

#description {
    color: peachpuff;
    font-family: 'Domine', serif;
    display: inline-flexbox;
    text-align: center;
    margin-top: 10px;
}

.price-point {
    display: flex;
    justify-content: center;
    color: slategray;
    text-shadow: rgb(5, 243, 33) 1px 0 10px;
    font-size: 25px;
    margin-top: 5px;
}

.attribution {
    color: slategray;
    font-size: 15px;
}
