body {
    display: flex;
    text-align: center;
    background-color: hsl(241, 90%, 12%);
}


body p {
    font-size: 18px;
}
.page-container {
    display: flex-box;
    justify-content: center;
    text-align: left;
    background-color: hsl(241, 91%, 18%);
    padding: 5%;
    border-radius: 10px;
    margin: 20%;
    box-shadow: 0px 0px 30px    black
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.price-point {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.border-div {
    display: flex-box;
    padding: 20px;

}

img {
    display: inline-flexbox;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
